
// .modal-buy {
//     // position: absolute;
//     // top: 50%;
//     // left: 50%;
    
//     // padding: 28px;
//     // transform: translate(-50%, -50%);
//     // width: 280px;


//     // background-color: white;
//     // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     // border: 2px solid #f8d24e;
//     // border-radius: 10px;

//     // transition: transorm var(--animation-function);

//     // @media screen and (min-width: 768px) {
//     //     width: 568px;
//     // }

//     // @media screen and (max-width: 310px) {
//     //     width: calc(100% - 30px);
//     // }
// }
.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;

    width: 280px;
    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    text-align: center;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    background-color: #fff;

    transition: 0.3s all;

    @media screen and (min-width: 768px) {
        width: 568px;
    }

    @media screen and (max-width: 310px) {
        width: calc(100% - 30px);
    }
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__title {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    color: rgba(19, 19, 19, 1);

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
}

.modal-buy__wrapper {
    display: flex;
    flex-direction: column;
     border: 2px solid #96AF8C;
     filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
     border-radius: 15px;
}
.modal-buy__text {
    padding: 20px 16px;
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.04em;

    color: rgb(19, 19, 19);
    text-transform: uppercase;
}

.modal-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;

}
.modal-form__field,
.modal-form__message {
    width: 100%;
    height: 42px;
    padding: 11px 16px;

    outline: unset;
    color: rgb(19, 19, 19);
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    font-size: 12px;
    line-height: calc(17 / 12);

    &::placeholder {
        color: rgb(19, 19, 19); 
    }
}
.modal-form__field {
    transition: outline-color var(--animation-function), box-shadow var(--animation-function);
&:not(:placeholder-shown):valid:required {
    outline-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0.3);
}
&:not(:placeholder-shown):invalid:required {
    outline-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.3);
}
}
.modal-form__message {
   height: 84px;
   resize: none;
}
.modal-form__button {
    margin: 0 auto;
    padding: 12px 34px;

    width: 121px;
    height: 42px;
    text-align: center;

    cursor: pointer;

    outline: unset;
    color: #131313;
    background-color: rgb(248, 210, 78);
    border: none;
    border-radius: 10px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);

    transition: background-color var(--animation-function);
    &:hover,
    &:focus {
        background-color: rgb(10, 136, 23);
    }

    &:focus {
        color: white;
    }
}

.modal__cross {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: #131313;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: #F8D24E;
    }
}

.modal-table {
  width: 100%;
  margin-bottom: 40px;
}
.modal-table__row {
    display: flex;
    justify-content: space-between;

    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 176%;
        letter-spacing: 0.04em;
   
    &:not(:last-child) {
        padding-bottom: 11px;
    }
}
.modal__ingredients {
    margin-bottom: 24px;
    
    color: #131313;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
}
.div {
    width: 132px;
    height: 132px;
    background-color: #84A178;
}
.ice-cream {
    display: block;
    width: 132px;
    height: 132px;
    margin: 0 auto;

    background-color: #9CBE8F;
    
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/modal-icecream/ice_small@1x.png);
}

